@import "tailwindcss";

.loading-animation{
    animation: loading 1.2s infinite ease-in-out;
    box-shadow: 0 0 20px rgba(227, 174, 40, 0.747);
}

@keyframes loading {
    0%{
        transform: perspective(230px) rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform: perspective(230px) rotateX(180deg) rotateY(0deg);
    }
    100%{
        transform: perspective(230px) rotateX(180deg) rotateY(180deg);
    }
}

@keyframes bounceText {
 0%, 25%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: translateY(-12px);
  }
}

.bounce-letter {
  animation: bounceText 5s ease-in-out infinite;
   text-shadow: 0 0 20px rgba(255, 230, 5, 0.581);
}

/* Letter by letter delay using nth-child */
.bounce-letter:nth-child(1) { animation-delay: 0s; }
.bounce-letter:nth-child(2) { animation-delay: 0.2s; }
.bounce-letter:nth-child(3) { animation-delay: 0.4s; }
.bounce-letter:nth-child(4) { animation-delay: 0.6s; }
.bounce-letter:nth-child(5) { animation-delay: 0.8s; }
.bounce-letter:nth-child(6) { animation-delay: 1s; }
.bounce-letter:nth-child(7) { animation-delay: 1.2s; }
.bounce-letter:nth-child(8) { animation-delay: 1.4s; }
.bounce-letter:nth-child(9) { animation-delay: 1.6s; }


/* ===swiper=== */
.swiper-button-next,
.swiper-button-prev{
  color: red !important;
}
/* Pagination Dots (inactive) */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #b4b4b4ea !important;
  opacity: 1 !important;
}

/* Pagination Dots (active) */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red !important;
}
